.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.agendamentos h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 1rem;
}
