.Home {
  text-align: center;
}

:root {
  /* Colors */
  --color-primary: #62b71e;
  --color-primary-light: #a0d468;
  --color-primary-dark: #4b9c1f;
  --color-primary-darker: #3a7d17;
  --color-secondary: #262f35;
  --color-secondary-light: #3a464d;
  --color-secondary-dark: #1a2023;
}
